* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dFlex {
    display: flex;
}

aside {
    background-blend-mode: color;
    background-color: rgb(12, 12, 12);
    justify-content: space-between;
    height: 130vh;
    width: 15%;
    padding: 35px;
}

.flexDirection {
    flex-direction: column;
    ;
}

.gap {
    gap: 20px;
}

.imgBorder {
    padding: 5px;
    border-radius: 15px;
}

.alignItems {
    align-items: center;
}

.JustifyContent {
    justify-content: center;
}

.border {
    border: 2px solid transparent;
    border-radius: 2px;
}

.border:hover {
    background-color: grey;
}

.textWhite {
    color: white;
}

.borderbottom {
    border-bottom: 2px solid white;
}

hr {
    color: white;
}

.black {
    color: black;
    margin-bottom: 20px;
}

.bgRed {
    background-color: red;
}

.radius {
    border-radius: 5px;
}

.search {
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}