* {
    margin: 0%;
    padding: 0%;
}

.ylli {
    display: flex;
    background-color: red;
    justify-content: space-between
}

div img {
    width: 50%;
    height: 50%;
    border-radius: 80%;
}