h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
}

h3::first-letter {
    font-size: 100px;
    text-decoration: underline red;
}