* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}

.red {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    background-color: red;
}

ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid: template rows 100px 200px;
    gap: 20px;
    background-color: gray;
}